#group-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding: 1rem;
}

#group-form-title {
  align-self: flex-start;
  width: 100%;
  text-align: left;
  font-weight: bold;
}

#crud-button-group {
  width: 100%;
  text-align: left;
}

#crud-button-group > * {
  margin: 0 1rem 0 0;
  font-weight: bold;
  /* background: none; */
}

#view-groups-button {
  background: #117a8b;
}

.btn {
  background: none;
}

#group-table-container {
  height: 100%;
  margin: 2.5rem;
}

#groups-table {
  margin: 1rem 0 0 0;
}

.borders {
  border-right: 1px rgb(69, 126, 172) solid;
  border-left: 1px rgb(69, 126, 172) solid;
}

.data-td {
  border-top: 1px rgb(69, 126, 172) solid;
  border-bottom: 1px rgb(69, 126, 172) solid;
  padding: 0.5rem;
}

.group-members-td > * {
  text-align: left;
  margin: 0;
}

.del-grp-btn {
  font-weight: bold;
  margin: 0 0 0 1.3rem;
  background: none;
}

#edit-group-users-container {
  height: 100%;
  display: none;
  margin: 2.5rem;
}

#edit-group-users-container > * {
  font-size: 1.3rem;
  margin: 1rem 0 0 0;
}

.edit-static-text {
  font-weight: bold;
  color: rgb(69, 126, 172);
}

#edit-group-submit-btn {
  font-weight: bold;
  /* background: rgb(69, 126, 172); */
  border-color: rgb(69, 126, 172);
  margin: 1.9rem 0 0 0;
  width: 100%;
}

#create-form-container {
  height: 100%;
  display: none;
  width: 50%;
  margin: 2.5rem 0 0 0;
}

#create-form-container > * {
  font-size: 1.3rem;
  margin: 1.3em 0 0 0;
}

#create-group-descr-input {
  resize: none;
}

#create-group-button {
  border-color: rgb(69, 126, 172);
  /* background: rgb(69, 126, 172); */
  font-weight: bold;
  width: 100%;
}
#cancel-create-group-button {
  font-weight: bold;
  width: 100%;
}

th {
  color: rgb(69, 126, 172);
}

#status-message {
  font-size: 1.5rem;
  margin: 1.3rem 0 0 0;
}
.success {
  color: green;
}

.fail {
  color: red;
}
