#profile-container {
  background: rgba(0, 0, 0, 0.8);
  color: white;
  min-height: 100%;
}

#profile-name {
  font-weight: bold;
  color: rgb(69, 126, 172);
}

#overall-profile-title {
  grid-area: overall-profile-title;
  margin: 1.3rem 0 1.3rem 0;
}

#buttons-container {
  grid-area: buttons-container;
  margin: 1.3rem 0 0 0;
}

#inner-profile-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "overall-profile-title overall-profile-title"
    "profile-status-message profile-status-message"
    "profile-grid-container groups-container"
    "buttons-container buttons-container";
}

.grid-container {
  padding: 1.5rem;
}

.cell {
  padding: 0;
}

.value-cell {
  text-align: left;
  margin: 0 0 1rem 0;
}

.label-cell {
  color: rgb(69, 126, 172);
  text-align: left;
  padding-right: 1.3rem;
  font-weight: bold;
}

#id-label {
  grid-area: id-label;
}
#id-val {
  grid-area: id-val;
}
#fname-label {
  grid-area: fname-label;
}
#fname-val {
  grid-area: fname-val;
}
#lname-label {
  grid-area: lname-label;
}
#lname-val {
  grid-area: lname-val;
}
.prof-btn {
  grid-area: prof-btn;
}
#profile-title {
  grid-area: profile-title;
}

#email-label {
  grid-area: email-label;
}

#email-val {
  grid-area: email-val;
}

#username-label {
  grid-area: username-label;
}

#username-val {
  grid-area: username-val;
}

.container-title {
  text-align: left;
  border-bottom: 1px rgb(69, 126, 172) solid;
  font-weight: bold;
  padding: 0 0 0.5rem 0;
  color: rgb(69, 126, 172);
}

#profile-grid-container {
  grid-area: profile-grid-container;
  border-right: 1px rgb(69, 126, 172) solid;
  display: flex;
  flex-direction: column;
}

#groups-title {
  grid-area: groups-title;
}

#profile-groups-list {
  text-align: left;
}

#groups-container {
  grid-area: groups-container;
}

#profile-grid-container > input {
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

#profile-grid-container > input:focus {
  outline: none;
}

#edit-button:hover {
  background: rgb(69, 126, 172);
  border-color: rgb(69, 126, 172);
}

#edit-button {
  border-color: rgb(69, 126, 172);
}

.prof-btn {
  font-weight: bold;
  margin: 0 1.3rem 0 1.3rem;
  font-size: 1.1rem;
  margin-bottom: 1.3rem;
}

#profile-status-message {
  margin: 1.3rem 0 1.3rem 0;
  font-size: 1.5rem;
  grid-area: profile-status-message;
}

@media (max-width: 600px) {
  #inner-profile-container {
    display: flex;
    flex-direction: column;
  }
}
