#profile-container {
  background: rgba(0, 0, 0, 0.7);
  color: white;
  height: 100%;
  padding: 1.3rem;
  /* border: 1px red solid; */
  /* overflow: hidden; */
}

#profile-name {
  font-weight: bold;
}

#profile-grid-container {
  grid-area: profile-grid-container;
  /* border: 1px red solid; */
}
#profile-title {
  grid-area: profile-title;
}
#groups-container {
  grid-area: groups-container;
  /* border: 1px green solid; */
}
#buttons-container {
  grid-area: buttons-container;
  /* border: 1px green solid; */
}
#inner-profile-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    "profile-title profile-title"
    "profile-grid-container groups-container"
    "buttons-container buttons-container";
}
.grid-container {
  padding: 1.5rem;
}
.cell {
  /* border: 1px red solid; */
  margin: 1rem 0 1rem 0;
  padding: 0;
  /* box-sizing: none; */
}
.value-cell {
  text-align: left;
}
.label-cell {
  text-align: right;
  padding-right: 1.3rem;
  font-weight: bold;
}

#id-label {
  grid-area: id-label;
}
#id-value {
  grid-area: id-value;
}
#fname-label {
  grid-area: fname-label;
}
#fname-value {
  grid-area: fname-value;
}
#lname-label {
  grid-area: lname-label;
}
#lname-value {
  grid-area: lname-value;
}
#login-label {
  grid-area: login-label;
}
#login-value {
  grid-area: login-value;
}
.prof-btn {
  grid-area: prof-btn;
}
#profile-title {
  grid-area: profile-title;
}

.container-title {
  text-align: left;
  padding: 0.3rem;
  border-bottom: 1px white solid;
  font-weight: bold;
}

#profile-grid-container {
  display: grid;
  grid-template-areas:
    "profile-title profile-title"
    "id-label id-val"
    "member-id-label member-id-val"
    "manager-id-label manager-id-val"
    "login-label login-val"
    "fname-label fname-value"
    "lname-label lname-value"
    "prof-btn prof-btn";
}

#profile-grid-container > input {
  border: 1px transparent solid;
  /* border-bottom: 1px black solid; */
  background: rgba(255, 255, 255, 0.1);
  color: white;
}

#profile-grid-container > input:focus {
  outline: none;
}

h4 {
  margin: 1.5rem 0 0.5rem 0;
}

#profile-groups-list {
  /* border: 1px red solid; */
  /* width: 100%; */
  text-align: left;
}

.prof-btn {
  font-weight: bold;
  margin: 1.3rem;
  font-size: 1.1rem;
}
