#admin-container {
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  color: white;
  padding: 1.3rem 0 0 0;
}

#inner-admin-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.admin-name {
  font-weight: bold;
  color: rgb(69, 126, 172);
}
