#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 0.5rem;
}
.logo-link,
.nav-link {
  padding-bottom: 0;
  color: white;
  margin: 0;
  outline: none;
}

#logo-div {
  vertical-align: bottom;
}
.logo-link {
  display: block;
}

.logo-link:hover {
  color: white;
  outline: none;
  text-decoration: none;
}

.nav-log-btn {
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  background: rgb(69, 126, 172);
  border-color: rgb(69, 126, 172);
}

#logo {
  outline: none;
  height: 2.1rem;
}

.logo-text {
  font-size: 1.3rem;
  margin: 0 0 0 0.5rem;
  font-weight: bold;
  vertical-align: bottom;
  text-transform: uppercase;
}

#links-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

#links-div > * {
  font-size: 1.3rem;
}

.nav-log-btn {
  font-weight: bold;
}
