#okta-sign-in.auth-container.main-container {
  background: rgba(0, 0, 0, 0.7);
  border: none;
}

#okta-sign-in.auth-container .okta-form-label {
  color: white;
}

#okta-sign-in.auth-container h2 {
  color: white;
}

#okta-sign-in.auth-container .link,
#okta-sign-in.auth-container .link:active,
#okta-sign-in.auth-container .link:hover,
#okta-sign-in.auth-container .link:link,
#okta-sign-in.auth-container .link:visited {
  color: white;
}

#okta-sign-in.auth-container .primary-auth {
  font-family: verdana;
  color: white;
}
