#okta-sign-in.auth-container.main-container {
  background: rgba(0, 0, 0, 0.7);
  border: none;
}

#okta-sign-in.auth-container .okta-form-label {
  color: white;
}

#okta-sign-in.auth-container h2 {
  color: white;
}

#okta-sign-in.auth-container .link,
#okta-sign-in.auth-container .link:active,
#okta-sign-in.auth-container .link:hover,
#okta-sign-in.auth-container .link:link,
#okta-sign-in.auth-container .link:visited {
  color: white;
}

#okta-sign-in.auth-container .primary-auth,
#okta-sign-in .o-form .infobox,
#okta-sign-in .registration .subschema .subschema-satisfied,
#okta-sign-in .registration .o-form-fieldset-container .required-fields-label {
  font-family: verdana;
  color: white;
}

#okta-sign-in .o-form .infobox {
  background: rgba(0, 0, 0, 0.6);
  border: none;
}
