/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
table {
  /* margin: 1rem; */
  table-layout: fixed;
  width: 100%;
  margin-top: 1rem;
}
th,
tr,
td {
  border: 1px black solid;
  word-wrap: break-word;
}
th,
td {
  /* padding: 0.2rem 0.2rem 0.2rem 0.2rem; */
}
input {
  text-align: center;
  word-wrap: break-word;
  width: 100%;
  /* background: red; */
}

#user-form {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
}
#user-form > * {
  /* border: 1px red solid; */
}
.create-user {
  width: 50%;
  border: 1px black solid;
}

.create-user > * {
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
}

li {
  list-style: none;
}
