.app {
  /* height: 100%; */
  /* border: 2px orange solid; */
}
html {
  height: 100%;
}
body {
  height: 100%;
  /* min-height: 100%; */
  /* border: 5px green solid; */
  background-image: url("./images/mountain-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
}

.main-container {
  flex-grow: 1;
  height: 100%;
}
#root {
  /* min-height: 100%; */
  /* background-image: url("./images/mountain-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat; */
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* border: 1px red solid; */
}
table {
  /* margin: 1rem; */
  table-layout: fixed;
  width: 100%;
  margin-top: 1rem;
}
th,
tr,
td {
  border: 1px black solid;
  word-wrap: break-word;
}
th,
td {
  /* padding: 0.2rem 0.2rem 0.2rem 0.2rem; */
}
input {
  text-align: center;
  word-wrap: break-word;
  width: 100%;
  /* background: red; */
}

.edit-form {
  /* border: 1px red solid; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* padding: 1rem; */
}
.edit-form > * {
  /* border: 1px red solid; */
}
.create-form {
  width: 50%;
  border: 1px black solid;
}

.create-form > * {
  margin: 0.5rem 0 0.5rem 0;
  width: 100%;
}
